<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>

        <rewrite>
            <rules>
                <rule name="Laravel" stopProcessing="true">
                    <match url="^(.*)$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php" />
                </rule>
            </rules>
        </rewrite>

        <httpProtocol>
            <customHeaders>
                <add name="Access-Control-Allow-Origin" value="https://vyojin-av26.vercel.app" />
                <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, PATCH, DELETE, OPTIONS" />
                <add name="Access-Control-Allow-Headers" value="Content-Type, Accept, Authorization, X-Requested-With" />
            </customHeaders>
        </httpProtocol>

    </system.webServer>
</configuration>